.timeline-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.timeline {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(99, 230, 190);
  padding: 1rem;
}

.timeline-btn {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
  justify-content: space-between;
}

.delete {
  background-color: red;
  border: 1px solid red;
}
