.form-heading {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #48cae4;
}

.form-heading-icon {
  margin-bottom: 3rem;
}

.form {
  padding: 5rem 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 3rem;
}
.content {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.form-group {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 1rem;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
  font-size: 1rem;
}

.link-to {
  color: #48cae4;
}

.link-to:hover {
  color: #003566;
}

.post-container {
  padding: 5rem 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 5rem;
}

@media (min-width: 481px) and (max-width: 905px) {
  .form-group {
    width: 80%;
  }

  .post-container {
    padding: 3rem 0;
    margin: 3rem;
  }
}

@media (max-width: 480px) {
  .form {
    padding: 2rem 0;
    margin: 2rem;
  }

  .post-container {
    padding: 2rem 0;
    margin: 2rem;
  }
}
