.post-form {
  width: 100%;
  margin: 0 auto;
}

label {
  color: #48cae4;
  font-size: 1rem;
}

.add-btn {
  background: #003566;
  font-size: 1rem;
}

.add-btn.disabled {
  background-color: rgb(222, 218, 218);
  border: 1px solid rgb(222, 218, 218);
  cursor: default;
}
.add-btn.disabled:hover {
  background-color: rgb(222, 218, 218);
  border: 1px solid rgb(222, 218, 218);
  cursor: default;
  color: #fff;
}
.add-post-divider {
  padding-bottom: 3rem;
  border-bottom: 2px solid #003566;
  width: 100%;
}
