.interest-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0rem;
}

.interest {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(24, 49, 83);
  border: solid 1px rgb(24, 49, 83);
  width: 20vw;
  height: 40vh;
  /* background-color: white; */
}

.interest.highlight {
  background-color: rgb(99, 230, 190);
  border: 1px solid rgb(99, 230, 190);
  color: white;
}

.interest-next-btn {
  border: solid 1px rgb(99, 230, 190);
  border-radius: 10px;
  padding: 0.5rem 2rem;
  background-color: rgb(99, 230, 190);
  color: white;
}

.interest-next-btn.disabled {
  background-color: rgb(222, 218, 218);
  color: rgb(24, 49, 83);
  border: solid 1px rgb(24, 49, 83);
}

.next-btn {
  display: flex;
  justify-content: flex-end;
}
