.interest-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0rem;
}

.interest {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(228, 83, 83);
  border: solid 1px rgb(228, 83, 83);
  width: 20vw;
  height: 40vh;
}

.interest.highlight {
  background-color: rgb(229, 118, 118);
  color: white;
}

.interest-next-btn {
  border: solid 1px rgb(228, 83, 83);
  border-radius: 10px;
  padding: 0.5rem 2rem;
  background-color: rgb(228, 83, 83);
  color: white;
}

.interest-next-btn.disabled {
  background-color: rgb(227, 219, 219);
  color: rgb(229, 118, 118);
}

.next-btn {
  display: flex;
  justify-content: flex-end;
}
