.profile-body {
  margin: 5rem;
}

.profile-heading {
  color: #48cae4;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 5rem 0;
}

img {
  width: 200px;
  height: 200px;
}
.profile-details-containter {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 2rem;
}

.profile-details {
  color: #003566;
}

.profile-details-value {
  color: #48cae4;
}

.profile-btn {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0rem;
}

.edit-btns {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.edit-post-btn {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.heading {
  color: #48cae4;
}

@media (min-width: 481px) and (max-width: 905px) {
}

@media (max-width: 480px) {
  .profile-body {
    margin: 5rem 2rem;
  }

  .profile-container {
    flex-direction: column;
    margin: 2rem 0;
  }
}
