.page-heading-icon {
  color: rgb(99, 230, 190);
}

img {
  width: 200px;
  height: 200px;
}

.profile-container {
  display: flex;
  justify-content: space-around;
  margin: 5rem 0;
  text-align: start;
}

.details {
  padding: 0.5rem 0;
}

.edit-btns {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.profile-btn {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
