.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2rem;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
  background-color: rgb(24, 49, 83);
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}
.header a {
  color: rgb(99, 230, 190);
}

.header a :hover {
  color: #fff;
}

.header ul li a svg {
  margin-right: 5px;
}
.nav-list {
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-logout {
  padding: 10px 20px;
  border: 1px solid rgb(99, 230, 190);
  border-radius: 5px;
  background: rgb(99, 230, 190);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}
