.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #003566;
  margin-bottom: 2rem;
  background-color: #003566;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 1rem;
}

.header ul li a {
  display: flex;
  align-items: center;
}
.header a {
  color: #48cae4;
}

.header a :hover {
  color: #fff;
}

.header ul li a svg {
  margin-right: 0.2rem;
}
.nav-list {
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-logout {
  padding: 0.5rem 1rem;
  border: 1px solid #48cae4;
  border-radius: 5px;
  background: #48cae4;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}
